* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    padding: 40px 0;
}

header {
    text-align: center;
    margin-bottom: 40px;
}


div.container {
    display: flex;
    justify-content: center;
    border: 3px border #333;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    border: 3px border #333;
}

div.add-bus-fields input {
    height: 30px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    outline: none;
}

button#addBusiness {
    width: 100%;
    height: 35px;
    background-color: #040a24;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
}

div.add-bus-fields input:not(:last-child) {
    margin-bottom: 10px;
}

div.card {
    width: 250px;
    border: 1px solid #c7c7c7;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

div.card-body {
    text-align: center;
}

div.card:not(:last-child) {
    margin-bottom: 30px;
}

p.business-name {
    border-bottom: 1px solid #333;
    text-align: center;
    background-color: #040a24;
    color: #fff;
    letter-spacing: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

p.business-name,
p.business-pallets,
p.business-sched-day,
p.confirm-number{
    padding: 20px 0;
}

button.addCarrier {
    width: 80%;
    outline: none;
    cursor: pointer;
    border: 0;
    height: 30px;
    border-radius: 50px;
    background-color: #040a24;
    color: #fff;
    letter-spacing: 2px;
}

#name-input,
#email-input,
#con-input {
    border: 1px solid #c7c7c7;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    padding-right: 10px;
    
}

button.add {
    letter-spacing: 2px;
    background-color: #040a24;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    width: 75%;
    height: 35px;
}

.carrier-card {
    width: 375px;
    border: 1px solid #c7c7c7;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
} 

p.carrier-email {
    padding-top: 20px;
}

p.carrier-confirm-number {
    padding-top: 50px;
}   